# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Development
.vite/
frontend/node_modules/.vite/
frontend/dist/

# Misc
.DS_Store
*.pem
*.log

# Environment Variables
.env
.env*.local

# Supabase
/supabase/functions/_lib

# IDE
.vscode/
.idea/
*.swp
*.swo
